      <li class="nav nav-item" *ngIf="isLoggedIn">
        <a class="nav-link">{{userName}}</a>
        <a class="nav-link" (click)="logout()">Log out</a>
      </li>
      <li class="nav-item" *ngIf ="!isLoggedIn">
        <a class="nav-link" (click)="openModal(template)">Sign Up/Log In</a>
      </li>

      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Create Account</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-elegant">
          <div class = "signUp">
            <form class="newUser" action="index.html" method="post">
              <input class="form-control" type="text" name="name" placeholder="Name" required>
              <br>
              <input class="form-control" type="text" name="email" placeholder="Email" required>
              <br>
              <input class="form-control" type="password" required placeholder="Password">
              <br>
              <input class="form-control" type="text" name="link" placeholder="Github link or Website" required>
              <br>

              <!-- <label for="language">Language</label>
              <select class="language" name="language" required>
                <option value="java">Java</option>
                <option value="javascript">Javascript</option>
                <option value="ruby">Ruby</option>
                <option value="python">Python</option>
                <option value="c">C#</option>
                <option value="react">React</option>
                <option value="design">Design</option>
              </select> -->

              <div class="btn-group">
                  <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</button>

                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#" value="java">Java</a>
                      <a class="dropdown-item" href="#" value="javascript">Javascript</a>
                      <a class="dropdown-item" href="#" value="ruby">Ruby</a>
                      <a class="dropdown-item" href="#" value="python">Python</a>
                      <a class="dropdown-item" href="#" value="c">C#</a>
                      <a class="dropdown-item" href="#" value="react">React</a>
                      <a class="dropdown-item" href="#" value="design">Design</a>
                  </div>
              </div>


            </form>
          </div>
          <button *ngIf="modalRef" type="button" class="btn btn-danger center" (click)="closeFirstModal()">Submit</button>
          <br>
          <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
          <br>
          <button class="btn btn-primary center" (click)="this.authService.login()">Google</button>

        </div>
      </ng-template>
