      <li class="nav nav-item" *ngIf="this.authService.isLoggedIn()">
        <a class="nav-link" routerLink="user-profile"><img class="profilePic" src="{{ this.authService.currentUser.photoURL }}"></a>
        <a class="nav-link" routerLink="user-profile">{{ this.authService.currentUser.displayName }}</a>
        <a class="nav-link" (click)="this.authService.logout()">Log out</a>
      </li>
      <li class="nav-item" *ngIf ="!this.authService.isLoggedIn()">
        <a class="nav-link" (click)="openModal(template)">Sign Up/Log In</a>

      </li>

      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Create Account</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-elegant">
          <div class = "signUp">
            <form class="newUser" action="index.html" method="post">
              <input #newName class="form-control" type="text" name="name" placeholder="Name" required>
              <br>
              <input #newEmail class="form-control" type="text" name="email" placeholder="Email" required>
              <br>
              <input #newPassword class="form-control" type="password" required placeholder="Password">
              <br>
              <input #newURL class="form-control" type="text" name="link" placeholder="Github link or Website" required>
              <br>
              <select #newLanguage class="language custom-select" name="Language" required>
                <option disabled selected>Language</option>
                <option value="HTML and CSS Intro">HTML/CSS Intro</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Javascript and JQuery">Javascript and JQuery</option>
                <option value="JavaScript/Angular">JavaScript/Angular</option>
                <option value="Java">Java</option>
              </select>

              <!-- <button *ngIf="modalRef" type="button" class="btn btn-danger center" (click)="this.authService.emailSignUp(newEmail.value, newPassword.value)">Submit</button> -->
              <button *ngIf="modalRef" type="button" class="btn btn-danger center" (click)="this.authService.emailSignUp(newName.value, newEmail.value, newPassword.value, newURL.value, newLanguage.value); closeFirstModal()">Submit</button>
            </form>
          </div>

          <br>
          <button type="button" class="btn btn-primary center">Sign in</button>
          <br>
          <img class ="signInWithGoogle"src="./assets/sign-in-with-google.png" style="width:350px; height:75px;" (click)="this.authService.googleSignIn(); closeFirstModal()">

        </div>
      </ng-template>
