.center {
  margin: auto;
  display: block;
}

.btn:hover {
  background-position: right center;
  box-shadow: 0 0 10px #000;
}
.btn {
  background-size: 200% auto;
  box-shadow: 0 0 20px #878787;
  color: white;
}

.form-control{
  width: 95%;
}

.signInWithGoogle {
  margin: auto;
  display: block;
}

.profilePic {
 height: 35px;
 width: 35px;
 border-radius: 20px;
}
