.cd-pic {
  padding: 0 0 0 0!important;
}

.profilePic {
 width: 40px;
 border-radius: 20px;
}

body {
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  color: #505260;
  background-color: black;
  overflow: auto;
  border-bottom: 2px solid #DFE1E2;
}
.abcRioButton {
  -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.abcRioButtonLightBlue {
  background-color: #fff;
  color: #757575;
}
.abcRioButtonContentWrapper {
  height: 100%;
  width: 100%;
}
.abcRioButtonContentWrapper:hover {
  color: #2BBBAD;
}
.abcRioButtonIcon {
  float: left;
}
.abcRioButtonContents {
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
}
/* --------------------------------

Primary style

-------------------------------- */
a {
  color: #2f889a;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
input::-ms-clear, textarea::-ms-clear {
  display: none;
}

.form-control {
  display: inline-grid;
  padding: 0 0 15px 0;
}

.btn-modal {
  border-radius: 50em;
  padding: .85rem 2.13rem;
}
/* --------------------------------

Main components

-------------------------------- */
a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #292a34;
  border-top: 1px solid #3b3d4b;
  color: #FFFF!important;
}
@media only screen and (min-width: 768px) {
  li {
    display: inline-block;
    margin-left: 1em;
  }
  li:nth-last-child(2) {
    margin-left: 2em;
  }

  a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
  }

  .cd-signin, .cd-signup {
    padding: .6em 1em;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
  }
  .cd-signup {
    background: #2f889a;
    border: none;
  }
}
