<br>
<div class="card" *ngFor="let meetup of meetups | async">

  <div class="card-body">
    <p class="meetupLanguage">{{ meetup.language }}</p>
    <p class="meetupSkillLevel">Skill Level: {{ meetup.skillLevel }}</p>
    <p class="meetupLocation">Location: {{ meetup.location }}</p>
    <br>
    <p class="lessonList" routerLink="/lessons-list"><b><em>Click here to find a lesson based on language and skill level</em></b></p>
    <p class="contactInfo"><a target="_blank" href="mailto:{{ meetup.creatorEmail }}?Subject=Meetup">Contact the creator of this meetup </a></p>

    <p *ngIf="this.authService.isLoggedIn()">
      <hr>
      <app-edit-meetup [selectedMeetup]="meetup"></app-edit-meetup>
    <hr class="mt-3">
    <p class="card-text float-right"><small class="text-muted">Created On: {{ meetup.startedAt | date:"MM/dd @ hh:mm a" }}</small></p>
  </div>
</div>
