<br><br>
<div class = "card">
  <h1>New Meetup</h1>



      <h5 class="selectHeadings">Select Desired Language:</h5>
      <div class="dropdowns">
        <select  #newLanguage>
          <option value="HTML/CSS Intro">HTML/CSS Intro</option>
          <option value="CSS">CSS</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Javascript and JQuery">Javascript and JQuery</option>
          <option value="JavaScript/Angular">JavaScript/Angular</option>
          <option value="Java">Java</option>
        </select>
      </div>
      <h5 class="selectHeadings">Select Skill Level:</h5>
      <div class="dropdowns">
          <select #skillLevel>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
      </div>
    <br>
    <div>
      <label>Location</label>
      <input value="Epicodus" #newLocation>
    </div>
  <br>

  <div>
    <button (click)="submitForm(newLanguage.value, skillLevel.value, newLocation.value); newLanguage.value=''; skillLevel.value=''; newLocation.value='Epicodus'">Add</button>
  </div>
