<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">CodeMeetup</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" routerLink="new-meetup">Create Meetup</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="user-list">Meetup List</a></li>
      <app-auth></app-auth>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
