<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">CodeMeetup</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="sign-in-up">Sign In/Up</a></li>
      <li><a routerLink="profile">User Profile</a></li>

        <li><a routerLink="create-meetup">Create Meetup</a></li>

    </ul>
  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
