.card {
  background-color: white;
  width: 50%;
  height: 30%;
  margin: 0;
  padding: 25px;
  text-align: center;
  border: none;
  padding: 0;
  margin: auto;
}

.card-img-top{
  width: 100%;
  height: 100px;
  background-image: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
}
